
<div *ngIf="objUser == null">
	<div class="generic-container">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<!-- <button class="btn btn-primary" (Click)="addUser()">Add</button> -->
			<input type="button" (click)="addUser()" value="Add"/>
			<div class="panel-heading"><span class="lead">List of Users </span></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>ID</th>
							<th>NAME</th>
							<th>AGE</th>
							<th>SALARY</th>
							<th width="100"></th>
							<th width="100"></th>
						</tr>
						</thead>
						<tbody>
					   <tr *ngFor="let u of users">
		<td class="hidden">{{u.id}}</td>
		<td>{{u.firstName}}</td>
		<td>{{u.lastName}}</td>
		<td>{{u.email}}</td>
		<td><button class="btn btn-danger" (click)="deleteUser(u)"> Delete User</button></td>
	  </tr>
						</tbody>
					</table>		
				</div>
			</div>
		</div>
	</div>
</div>


<div *ngIf="objUser != null">
	<div class="generic-container">
		<div class="panel panel-default">
			<div class="panel-body">
			   <h2 class="text-center col-md-6">Add User</h2>
	<form class="formcontainer col-md-6">
	  <div class="form-group">
		<label for="email">Email address:</label>
		<input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
	  </div>
	
	  <div class="form-group">
		<label for="firstName">First Name:</label>
		<input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
	  </div>
	
	  <div class="form-group">
		<label for="lastName">Last Name:</label>
		<input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
	  </div>
	
	  <button class="btn btn-success" (click)="createUser()">Create</button>
	</form>
	</div>
	</div>
	</div>
</div>


